<form ng-submit="updatePost(thisPost)">
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div class="site-heading">                    
                    <input type="text" ng-model="title" class="this-header" value="{{thisPost.title}}"></input>
                    <h1> <div text-angular ng-model="title">{{thisPost.title}}</div> </h1>
                    <hr class="small">
                    <input type="text" ng-model="teaser" class="this-teaser" value="{{thisPost.teaser}}"></input>
                    <span class="subheading" ng-model="teaserModel">{{thisPost.teaser}}</span>
                    <button type="submit" class="btn btn-primary">Edit Post</button>
                </div>
            </div>
        </div>
    </div>
</header>
</form>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
      <span style="font-size:20px; margin-left:10px;" ng-bind-html='toTrustedHTML( postBody )'>
      </span>
    </div>
  </div>
</div>