<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div class="site-heading">                    
                    <h1> {{thisPost.title}} </h1>
                    <hr class="small">
                    <span class="subheading" ng-model="teaserModel">{{thisPost.teaser}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
      <div ng-model="postBody"><span style="font-size:20px; margin-left:10px;" ng-bind-html='toTrustedHTML( postBody )'>
      </span></div>
    </div>
  </div>
</div>

<div class="edit-header" ng-show="signedIn()" >
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div class="site-heading">                    
                    <input type="text" ng-model="title" class="this-header" value="{{thisPost.title}}"></input>
                    <hr class="small">
                    <input type="text" ng-model="teaser" class="this-teaser" value="{{thisPost.teaser}}"></input>                    
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
      <div text-angular ng-model="postBody"><span style="font-size:20px; margin-left:10px;" ng-bind-html='toTrustedHTML( postBody )'>
      </span></div>
    </div>
  </div>
</div>

<button type="submit" ng-click="updatePost(thisPost)" class="btn btn-primary">Edit Post</button>
</div>