<!DOCTYPE html>
<html>
<head>
  <title>PhotographerNews</title>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

   <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- <body ng-app="photographerNews">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>

</body> -->
<body>

    <!--
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Start Bootstrap</a>
            </div>

            Collect the nav links, forms, and other content for toggling
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="post.html">Sample Post</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
-->

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>The Composition of Ether</h1>
                        <hr class="small">
                        <span class="subheading">TO A CHEMIST, NOTHING ON EARTH IS UNCLEAN. A WRITER MUST BE AS OBJECTIVE AS A CHEMIST. ANTON CHEKOV</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <h2 class="post-title">
                        The Niburski Synthesis
                    </h2>
                    <h3 class="post-subtitle">
                        If you want to write a story, you must first learn how to compose ether. <br><br>
                        I was 21 when I synthesized the functional group. I didn’t know it. The mixture was colourless, airtight. I saw a few bubbles is all. I was a failed chemist with my mind empty and my mouth agape. Worse yet was that I was also unknowingly a physical embodiment of the chemical compound – my shoulders shrugged like alkyl chains. <br><br>
                        Dr. Stover, a pleasant, thoughtful supervisor with smile and explanation for everything, came over and asked what I was creating. I mumbled that a graduate student told me to throw some chemicals into a beaker and watch the reaction for her. He asked what chemicals. I listed a few. He said, “You’re making an ether. It is shared with some of the most important compounds like vitamin E.” <br><br>
                        I looked back to the flask. It burped.<br><br>
                        He shuffled away and the day swept on with the light blocked by curtains and the lab chilled for sample preservation.  The year did too. I worked and reworked and eventually produced some good work in the lab. I could tell you what, could discuss the nights over a bench with a silicon plate in hand and a distillation running at the same time, could tell you when I mistook butyl lithium for water, could tell you what vitamin E looks like now, but first you would need to learn how to create ether. <br><br>
                        For to tell the story, to realize its end, you must understand that in ether is whole of chemistry. <br><br>
                        <p class="centered">*</p>
                        I haven’t changed much since five years have slapped on by. I still don’t know what I am forming. I am still a failure too, though in this case at teaching. For though I haven't even started, I believe that there is no way to teach how to write fiction. <br><br>
                        This may be the inappropriate to say on a creative writing workshop platform, but it’s true. Everything can be learned from Brother's Karamazov for everything is in Brother's Karamazov.<br><br>
                        Besides, writing is born from writing. From digesting it. Creating it. Swirling around what has been said by trying to say it first, then finding one’s own way say something else later on. It is an experiment in tying uncommon events together, avoiding worn, old phrases like square pegs and round holes, and then creating a square peg that fits into a round hole. It is walking around a city, observing all that is and all that isn’t and wondering why one exists over the other.  It is scribbling an answer on toilet paper even if the urgency of bowels demand otherwise. It is the waddle afterwards. It is understanding how social norms dichotomize and separate, how orders of truth exist, and how all things are either forms of political rebellion or acquiescence. It is reading. And reading. And reading. It is sitting down and spewing words one after another like metastatic tumor tumbling first from the head then trickling out to the spine in back pains and an arched decay, slowly spreading towards bent fingers, each letter agonizingly following the other until there is a sentence, then a second, then a third. It is being able to erase all three, then dying again with the fresh page. It is living to write another too. <br><br>
                        To write fiction, then, one must write fiction. There is no shortcut, no how-to. There is only you, a desk, and a page. Luckily, this is all that you need. <br><br>
                        I think back to that ether, to the vitamin E. Small, understandable steps generated the compound. Steps that are generalizable, repeatable. And as a result, the molecule is hitchhiking around in your body, removing free radicals and forming red blood cells.<br><br>
                        It is in me too, a person altogether different from you but constituted similarly. We have unique experiences, unique stories. But we tell them the same way - through these words and throughout their use. For me, that means knowing I am a failed chemist, a failed teacher, and maybe a failed writer too (“to write fiction, then, one must write fiction” - not about it). You? I don’t know. Only you do, and no one can write a story like you.<br><br>
                        This site helps to get the most out of you. The other two aspects – the desk and page – are left to carpenters and paper makers. You, on the other hand, are a chemistry experiment gone right. You are part of the chemical Universe chemically parting with the universes around you: you are writing.<br><br>
                        As Muriel Rukeyser said, "The Universe is made of stories, not atoms."<br><br>
                        The workshop here will assist in finding these stories, will show the processes that tie us, and will help you compose ether from nothing. It will allow you to see the collisions between unlikely events and to understand what’s going on in the beaker you find yourself in. And it will lead you to understand that for every action and reaction, there is a story in between. Vitamin E is the proof.<br><br>
                        Click through the three categories below in the black box – elements, criticism, and personal. They will help craft your tales by demonstrating the importance of totality, the interrelation of text, the history behind types of writing, comments on style, theory, possible ideas and a handful of exercises to help plod, as well as plot, along.<br><br>
                    </h3>
                </div>
                <hr>
               
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; 2015</p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>